params {
    queue_size = 50
    submit_rate_limit = '20/2min'
    results_dir = "./nextflow_results"
    manifest = ""
    bmtagger_db = "/data/pam/software/BMTAGGER_INDEX"
    bmtagger_host = "hg38"
    skip_fastqc = false
    publish_host_reads = false
    help = false
}


profiles {

    standard {
        docker {
            enabled = true
        }
    }

    // Sanger local configuration for testing
    sanger_local {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }

        process {
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 1
            executor = "local"
        }
    }

    // Basic configuration for Nextflow LSF management on the Sanger farm.
    sanger_lsf {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }

        process {
            cpus = 1
            memory = "20GB"
            queue = { task.attempt < 2 ? "normal" : "long" }
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 1

            withName:FILTER_HOST_READS {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:GET_HOST_READS {
                queue = { task.attempt < 2 ? "small" : "normal" }
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:PRE_FILTERING_FASTQC {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:POST_FILTERING_FASTQC {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:PRE_FILTERING_MULTIQC {
                queue = { task.attempt < 2 ? "small" : "normal" }
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:POST_FILTERING_MULTIQC {
                queue = { task.attempt < 2 ? "small" : "normal" }
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:GENERATE_STATS {
                queue = { task.attempt < 2 ? "small" : "normal" }
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:TRIMGALORE {
                queue = "normal"
                memory = { 1.GB * task.attempt }
                errorStrategy = {task.attempt <= 3 ? "retry" : "terminate"}
                executor = "lsf"
            }

            withName:COLLATE_STATS {
                queue = { task.attempt < 2 ? "small" : "normal" }
                memory = { 1.GB * task.attempt }
                executor = "lsf"
            }

            withName:BMTAGGER {
                queue = { task.attempt < 2 ? "normal" : "long" }
                memory = { 10.GB * task.attempt }
                errorStrategy = {task.attempt <= 4 ? "retry" : "terminate"}
                executor = "lsf"
            }

        }
        executor {
            name = "lsf"
            perJobMemLimit = true
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = params.queue_size
            submitRateLimit = params.submit_rate_limit
            jobName = { "metawrap_qc_nf - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }
}

