// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = 'metawrap_qc_nextflow'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/metawrap_qc_nextflow'
    description     = 'Rewrite of Metawrap QC tool, including performance improvements'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v1.6.3'
}

includeConfig "./assorted-sub-workflows/mixed_input/mixed_input.config"
includeConfig "./assorted-sub-workflows/qc/qc.config"
includeConfig "./assorted-sub-workflows/mags_maker/metawrap_qc/metawrap_qc.config"
includeConfig "./assorted-sub-workflows/reporting/reporting.config"

params {
    manifest_of_lanes = ""
    outdir = "./results"
    skip_fastqc = false

    // LSF options
    queue_size = 50
    submit_rate_limit = '50/2min'
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
